
        #logo {
          background : url("/index.php/view/media/themeImage?key=headerLogo") no-repeat left center;
          background-size:contain;
        
        }
        
        #title {
          top: 40%;
          transform: translateY(-60%);
        }
        .pull-right{
    display:none;
}